.app {
  position: relative;
  overflow: hidden;
  display: flex;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(#2938EA, rgb(163, 162, 223), transparent);
}

.left {
  position: relative;
  display: flex;
  border: 1px red solid;
}

.middle {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
}

